<footer class="footer bg-dark text-light text-center" style="background-color: #0bb552; padding: 20px; margin-top: 50px;">
    <div class="container">
        <span style="color: white;">© Todos los derechos reservados por Compañia de Luz 2024</span>
    </div>
</footer>
