<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compañia de electricidad</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Custom CSS -->
    <style>
        section {
            padding: 20px;
        }

        .header {
            background-color: #4CAF50; /* Verde */
            padding: 20px;
            display: flex; /* Usar flexbox para alinear elementos */
            align-items: center; /* Centrar verticalmente los elementos */
        }

        .logo {
            width: 150px; /* Ajustar el ancho de la imagen según sea necesario */
            height: auto; /* Mantener la proporción de aspecto */
            margin-right: 20px; /* Espacio entre el logo y el texto */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra a la imagen */
        }

        h1 {
            margin: 0; /* Eliminar márgenes por defecto del título */
        }
    </style>
</head>

<body class="container">
    <div class="header text-center text-white">
        <img src="public\img\logo.jpg" alt="" class="logo">
        <h1>Compañia de Electricidad</h1>
    </div>
</body>

</html>
