<%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="formulario" action="/salida" method="post">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="numRecibo" placeholder="Numero de Recibo" pattern="[0-9]+" title="Por favor, introduce solo números" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre del Cliente" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="domicilio" placeholder="Domicilio" required>
                        </div>
                        <div class="mb-3">
                            <select id="servicio" class="form-select" name="servicio" required>
                                <option value="">Tipo de Servicio</option>
                                <option value="1">Domicilio</option>
                                <option value="2">Comercial</option>
                                <option value="3">Industrial</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="number" id="kilowatts" class="form-control" name="kilowatts" placeholder="Kilowatts Consumidos" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary mr-2">Enviar Informacion</button>
                        <button type="reset" class="btn btn-secondary">Limpiar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%-include('partials/footer.ejs')%>
    </body>
</html>